.App {
  background-image: url("https://cdn.wallpapersafari.com/69/91/MkEnK8.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;  
  height: 100vh;
  width: 100%;
  position: fixed;
}