#calculator {
    margin-left: 80%;
}

/* Create the Outer layout of the Calculator. */
.formstyle {
    width: 250px;
    height: 330px;
    margin: 10px auto;
    border: 3px solid #333;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    background-color: black;
}

/* Display top horizontal bar that contain some information. */
h1 {
	text-align: center;
	padding: 20px;
	background-color: #333;
	color: black;
}

input:hover {
    background-color: red;
}
	
* {
    margin: 0;
    padding: 0;
}

/* It is used to create the layout for calculator button. */
.btn {
    width: 50px;
    height: 50px;
    font-size: 25px;
    margin: 2px;
    cursor: pointer;
    background-color: #333;
    color: rgb(182, 176, 176);
}

/* It is used to display the numbers, operations and results. */
.textview {
    width: 210px;
    margin: 5px;
    font-size: 25px;
    padding: 5px;
    background-color: rgb(230, 228, 228);
}

.center {
    text-align: center;
}

#back {
    color: red;
}

#back:hover {
    color: black;
}

#symbols:hover {
    color: black;
}