.drag-wrapper {
    cursor: move;
}

/* Create the Outer layout of the Calculator. */
.formstyle {
    width: 250px;
    height: 330px;
    margin: 30px auto;
    border: 3px solid #333;
    border-radius: 5px;
    padding: 20px;
    padding-bottom: 45px;
    background-color: black;
    position: fixed;
    /* margin-top: 5%;
    margin-left: 80%; */
    bottom: 30vmax;
    right: 2vmax;
}

/* Display top horizontal bar that contain some information. */
/* h1 {
	text-align: center;
	padding: 20px;
	background-color: #333;
	color: black;
} */

.formstyle input:hover {
    background-color: red;
}

.formstyle #display:hover {
    background-color:rgb(230, 228, 228);
}
	
/* * {
    margin: 0;
    padding: 0;
} */

/* It is used to create the layout for calculator button. */
.formstyle .btn {
    width: 50px;
    height: 50px;
    font-size: 25px;
    margin: 2px;
    cursor: pointer;
    background-color: #333;
    color: rgb(182, 176, 176);
}

/* It is used to display the numbers, operations and results. */
.formstyle .textview {
    width: 210px;
    margin: 5px;
    font-size: 25px;
    padding: 10px;
    background-color: rgb(230, 228, 228);
}

.formstyle .center {
    text-align: center;
}

/* #back {
    color: red;
} */

.formstyle #back:hover {
    color: black;
}

.formstyle #symbols:hover {
    color: black;
}