.footer{
    padding-top: 0;
    padding-bottom: 0.5rem;
    background-color: rgb(235, 195, 64);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    line-height: 10px;
    text-align: center;
    font-weight: 900;
}

.footer a {
    text-decoration: none;
    color: red;
}