html{
  background-image: url("https://cdn.wallpapersafari.com/69/91/MkEnK8.jpg");
  background-size: cover;  
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;

  /* top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  height: 100vh;
  width: 100%;
  position: fixed; */
}

.center {
  text-align: center;
  color: rgb(235, 195, 64);
  background-color: #333;
  margin-top: 14%;
  margin-right: 15%;
  margin-left: 15%;
  margin-bottom: 10%;
  border-radius: 50%;
  padding: 10px;
}

.error {
  text-align: center;
  color: rgb(143, 3, 3);
  background-color: rgb(235, 195, 64);
  margin-top: 20%;
  margin-right: 35%;
  margin-left: 35%;
  margin-bottom: 10%;
  border-radius: 50%;
  padding: 30px;
}

.loading {
  text-align: center;
  color: rgb(235, 195, 64);
  background-color: #333;
  margin-top: 20%;
  margin-right: 40%;
  margin-left: 40%;
  margin-bottom: 10%;
  border-radius: 50%;
  padding: 20px;
}