html{
  background-image: url("https://cdn.wallpapersafari.com/69/91/MkEnK8.jpg");
  background-size: cover;  
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;

  /* top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  height: 100vh;
  width: 100%;
  position: fixed; */
}

.center {
  text-align: center;
  color: rgb(248, 228, 192);
  margin-top: 16%;
}
