.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
  
.navbar li {
    float: left;
}

.navbar li#right {
    float: right;
}
  
.navbar li a, .navbar #dropbtn {
    display: inline-block;
    color: rgb(235, 195, 64);
    text-align: center;
    font-weight: 900;
    padding: 14px 16px;
    text-decoration: none;
}
  
.navbar li a:hover, .navbar #dropdown:hover #dropbtn {
    background-color: rgb(32, 32, 32);
}
  
.navbar li#dropdown {
    display: inline-block;
}
  
.navbar #dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(235, 195, 64);
    min-width: 130px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    /* z-index: 1; */
}
  
.navbar #dropdown-content a {
    color: black;
    padding: 8px 10px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-weight: 900;
}
  
.navbar #dropdown-content a:hover {
    background-color: wheat;
}
  
.navbar #dropdown:hover #dropdown-content {
    display: block;
}